<div
  class="flex items-center justify-center min-h-screen"
  style="
    background-image: url('assets/library.svg');
    background-size: cover;
    background-position: center;
  "
>
  <div
    class="absolute inset-0 bg-gradient-to-b from-transparent to-black pointer-events-none"
  ></div>
  <fieldset
    class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 relative z-10"
  >
    <legend class="fieldset-legend">Page details</legend>

    <label class="label" for="title">Titel</label>
    <input id="title" type="text" class="input" placeholder="Titel eingeben" />

    <label class="label" for="slug">ISBN Nummer</label>
    <input
      id="slug"
      type="text"
      class="input"
      placeholder="ISBN Nummer eingeben"
    />

    <div class="flex items-center my-4">
      <label class="label mr-4 min-w-[80px]" for="rating">Rating</label>
      <div class="flex justify-center flex-1">
        <div class="rating rating-lg" id="rating">
          <input
            type="radio"
            name="rating-10"
            class="rating-hidden"
            aria-label="clear"
          />
          <input
            type="radio"
            name="rating-10"
            class="mask mask-star-2"
            aria-label="1 star"
          />
          <input
            type="radio"
            name="rating-10"
            class="mask mask-star-2"
            aria-label="2 star"
            checked="checked"
          />
          <input
            type="radio"
            name="rating-10"
            class="mask mask-star-2"
            aria-label="3 star"
          />
          <input
            type="radio"
            name="rating-10"
            class="mask mask-star-2"
            aria-label="4 star"
          />
          <input
            type="radio"
            name="rating-10"
            class="mask mask-star-2"
            aria-label="5 star"
          />
        </div>
      </div>
    </div>

    <div class="flex items-center my-4">
      <label class="label mr-4 min-w-[80px]" for="Buchart">Buchart</label>
      <fieldset class="fieldset">
        <select class="select">
          <option disabled selected>Pick a browser</option>
          <option>Hardcover</option>
          <option>Paperback</option>
          <option>Epub</option>
        </select>
      </fieldset>
    </div>
    <div class="flex items-center my-4">
      <label class="label mr-4" for="Lieferbar">Lieferbar</label>
      <div class="flex justify-center flex-1">
        <input type="radio" name="radio-1" class="radio" checked="checked" />
        <input type="radio" name="radio-1" class="radio ml-4" />
      </div>
    </div>

    <label class="label" for="title">Homepage</label>
    <input
      class="input validator"
      type="email"
      required
      placeholder="mail@site.com"
    />
    <div class="validator-hint">Valide Email Adresse eingeben</div>
  </fieldset>
</div>
