<div class="flex items-center justify-center min-h-screen">
  <fieldset
    class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
  >
    <legend class="fieldset-legend">Page details</legend>

    <label class="label" for="title">Titel</label>
    <input id="title" type="text" class="input" placeholder="My awesome page" />

    <label class="label" for="slug">ISBN Nummer</label>
    <input id="slug" type="text" class="input" placeholder="my-awesome-page" />

    <label class="label" for="author">Rating</label>
    <input id="author" type="text" class="input" placeholder="Choose" />

    <label class="label" for="author">Buchart</label>
    <input
      id="author"
      type="text"
      class="input"
      placeholder="Druckausgabe, Kindel"
    />
  </fieldset>
</div>
