<div class="navbar bg-base-100 shadow-sm fixed top-0 left-0 w-full z-50">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" routerLink="/home">
      <svg
        class="h-6 w-6 md:hidden"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
        />
      </svg>
      <span class="hidden md:inline">Gruppe 3</span>
    </a>
  </div>
  <div class="flex-none">
    <div class="flex justify-center gap-2">
      <button class="btn btn-ghost text-l" routerLink="/suchen">
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          />
        </svg>
        <span class="hidden md:inline">Suchen</span>
      </button>
      <button class="btn btn-ghost text-l" routerLink="/anlegen">
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <span class="hidden md:inline">Anlegen</span>
      </button>
    </div>
  </div>
  <div class="flex-1 flex justify-end">
    <div
      *ngIf="authService.isLoggedIn$ | async; else showLogin"
      class="flex items-center gap-4"
    >
      <span
        class="hidden md:inline text-l"
        *ngIf="authService.currentUser$ | async as user"
      >
        Hallo, {{ user.preferred_username }}
      </span>
      <button (click)="openLogoutPopup()" class="btn btn-ghost text-l">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
          />
        </svg>
        <span class="hidden md:inline">Logout</span>
      </button>
    </div>

    <ng-template #showLogin>
      <button class="btn btn-ghost text-l" routerLink="/login">
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"
          />
        </svg>
        <span class="hidden md:inline">Login</span>
      </button>
    </ng-template>
  </div>
</div>

<router-outlet></router-outlet>
