<div class="navbar bg-base-100 shadow-sm fixed top-0 left-0 w-full z-50">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" routerLink="/home">Gruppe 3</a>
  </div>
  <div class="flex-none">
    <div class="flex justify-center gap-2">
      <button class="btn btn-ghost text-l" routerLink="/suchen">Suchen</button>
      <button class="btn btn-ghost text-l" routerLink="/anlegen">
        Anlegen
      </button>
    </div>
  </div>
  <div class="flex-1 flex justify-end">
    <button class="btn btn-ghost text-l" routerLink="/login">Login</button>
  </div>
</div>

<router-outlet></router-outlet>
